@font-face {
  font-family: overskrift;
  src: url(../fonts/Quicksand-VariableFont_wght.woff2);
}
@font-face {
  font-family: skrift;
  src: url(../fonts/Comfortaa-VariableFont_wght.woff2);
}
@font-face {
  font-family: skrift2;
  src: url(../fonts/Exo2-VariableFont_wght.woff2);
}
@font-face {
  font-family: skrift3;
  src: url(../fonts/Marcellus-Regular.woff2);
}
@media (min-width: 700px) {
  .h2_opg {
    margin-left: 20%;
    font-size: 30px;
  }
  .h3_t3 {
    margin-left: 20%;
  }
  .opg_tekst {
    font-size: 20px;
  }
  .opg_tekst_farvet {
    font-size: 17px;
    margin: 20px 20px;
  }
  .opg_tekst_farvet2 {
    padding-top: 20px;
    font-size: 17px;
  }
  .opg_over {
    margin-left: 100px;
    margin-top: 10%;
  }

  .opg_links {
    margin-left: 150px;
  }
  .figma {
    width: 300px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  .analog {
    width: 500px;
    margin: auto;
  }
  .analog_video {
    max-width: 1200px;
    margin-left: 7%;
    margin-right: 7%;
    border: 5px solid #fb8500;
    border-radius: 10px;
  }
  .lilla {
    margin: 10px 10% 10px 10%;
    background-color: #aea2bf;
    border-radius: 10px;
  }
  .blaa {
    margin: 10px 10% 10px 10%;
    background-color: #a7bcb6;
    border-radius: 10px;
  }
  .weblinks {
    width: fit-content;
    padding-top: 10px;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #f0f0f0;
    color: #fb8500;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: skrift;
    display: inline-block;
    font-size: 20px;
  }
  .t5_links {
    margin-right: 20%;
  }
  .ud,
  .erf {
    padding: 20px; /* Tilføj lidt indrykning for at gøre det mere læsbart */
    margin: 0 auto;
  }

  dl {
    margin: 0;
    gap: 5px;
    display: grid;
  }

  dt,
  dd {
    margin: 0;
    font-family: skrift2;
    font-size: 20px;
  }
  dd {
    margin-bottom: 15px;
    color: #646464;
  }

  dt {
    font-weight: bold;
    color: #4c4c4c;
  }
  .cv_liste {
    font-size: 25px;
    font-family: skrift2;
  }
  .t5_baand {
    max-width: 70px;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: -10%;
    left: 85%;
  }

  .bankeraat_video {
    max-width: 100%;
    width: 100%;
    margin-bottom: 50px;
    height: auto;
  }
  .mobil_t5_pynt {
    display: none;
  }
  .pynt_forside {
    transform: rotate(-35deg);
    width: 60%;
    margin-top: 10%;
    margin-left: 30%;
    position: absolute;
  }
  .cv_billeder {
    margin-left: 30%;
    width: 45%;
    margin-top: 20px;
    background-color: #6464642f;
    border-radius: 20px;
    border-bottom: 3px solid #fb8500;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.3);
  }
  .p,
  .r,
  .t,
  .f,
  .l,
  .i,
  .o,
  .o_2,
  .o_3 {
    font-size: 80px;
  }
}

@media (max-width: 700px) {
  .h2_opg {
    margin-left: 15%;
    font-size: 20px;
  }
  .h3_t3 {
    margin-left: 15%;
  }
  .lilla {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #aea2bf;
  }
  .blaa {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background-color: #a7bcb6;
  }
  .figma {
    width: 80%;
    margin: 10px 5% 10px 10%;
  }
  .analog {
    width: 400px;
    margin: auto;
  }
  .weblinks {
    width: fit-content;
    font-size: 15px;
    padding-top: 10px;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #f0f0f0;
    color: #fb8500;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: skrift;
    display: inline-block;
  }
  .cv_billeder {
    margin-right: 40px;
    margin-top: 0;
    background-color: #6464642f;
    border-radius: 20px;
    border-bottom: 3px solid #fb8500;
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.3);
  }

  .ud,
  .erf {
    padding: 10px;
    margin-left: 70px;
  }

  dl {
    margin: 0;
    gap: 2px;
    display: grid;
  }

  dt,
  dd {
    margin: 0;
    font-family: skrift2;
    font-size: 15px;
  }
  dd {
    margin-bottom: 10px;
    color: #646464;
  }

  dt {
    font-weight: bold;
    color: #4c4c4c;
  }
  .cv_liste {
    font-size: 20px;
    font-family: skrift2;
  }
  .t5_baand {
    display: none;
  }
  .bankeraat_video {
    max-width: 600px;
  }
  .p,
  .r,
  .t,
  .f,
  .l,
  .i,
  .o,
  .o_2,
  .o_3 {
    font-size: 50px;
  }
  .mobil_margin {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.grid_1-1 a {
  font-size: 17px;
  text-align: center;
  font-family: skrift2;
}
.weblinks:hover {
  transform: scale(1.1);
  border: solid #fb8500;
}
.dt2 {
  margin-bottom: 10px;
}
h1 {
  font-family: overskrift;
  margin: 10% 10%;
}
h2 {
  font-family: skrift;
}
h3 {
  font-family: skrift;
  gap: 10px;
}

.forside_body {
  background: linear-gradient(to right, #fffaf5 85%, #646464 85%);
  margin: 0;
}
body {
  background-color: #fffaf5;
}

main {
  margin-top: 10px;
}
img {
  width: 100%;
}

.forside_body main {
  margin-top: 10%;
}

.desk_menu a {
  color: #fb8500;
  text-decoration: none;
  font-family: skrift2;
  font-weight: bold;
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 8px 8px 8px -3px rgba(0, 0, 0, 0.3);
}
.desk_menu a:hover {
  background-color: #fb8500;
  color: #fefefe;
}

nav {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin-right: 20%;
  margin-top: 10px;
  background-color: #f0f0f0;
}
nav hr {
  border: none;
  flex: 1;
  height: 1px;
  background-color: #646464;
  opacity: 70%;
  margin: 0 10px;
}
h1,
h2,
h3,
p {
  color: #646464;
}
p {
  font-family: skrift3;
}

a {
  text-decoration: none;
  padding: 10px;
}

.orange {
  color: #fb8500;
}

.links {
  margin: 10px;
  margin-left: 60px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  color: #fb8500;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 7px 7px -7px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: skrift2;
  display: inline-block;
  font-size: 18px;
}
.links::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid #fb8500;
  border-radius: 50%;
  margin-right: 10px;
}

.opg_links a:hover {
  color: #4c4c4c;
  border: solid #fb8500;
  box-shadow: none;
}

.opg_links a:visited {
  color: #734bac;
}

.klik_links {
  margin-left: 10px;
  margin-right: 30%;
  color: #fb8500;
}
.formaal {
  font-family: skrift;
  font-size: 17px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 40px;
}
.graa_hr {
  border: 1px solid #646464;
  background-color: #646464;
  height: 1px;
  margin-left: 10px;
  margin-right: 20%;
}

.orange_hr {
  border: 1px solid #fb8500;
  margin-left: 20%;
  margin-right: 5%;
}
.orange_hr2 {
  border: 1px solid #fb8500;
  margin-left: 35%;
  margin-right: 5%;
}
.opg_tekst {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
}
.opg_tekst_farvet {
  color: #4c4c4c;
  padding-top: 20px;
  font-family: skrift3;
}
.opg_tekst_farvet2 {
  color: #4c4c4c;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
  font-family: skrift3;
}
.p,
.r,
.t,
.f,
.l,
.i {
  text-align: center;
  text-align: center;
  color: #646464;
  font-family: skrift;
  font-weight: lighter;
}
.o,
.o_2,
.o_3 {
  color: #fb8500;
  text-align: center;
  text-align: center;
  font-family: skrift;
}
.eksamen {
  text-align: left;
}
.laura {
  text-align: center;
}
.aar {
  text-align: right;
  color: #fb8500;
}

video {
  width: 90%;
  margin-left: 5%;
}

.t4pynt {
  width: 70px;
  transform: scaleX(-1);
  align-items: center;
  margin: auto;
}
.t4pynt2 {
  width: 70px;
  align-items: center;
  margin: auto;
}
.tema4tekst {
  width: fit-content;
  margin: 0;
}
.aktivitet {
  margin-left: 10%;
  width: 80%;
  margin-top: 0;
  margin-bottom: 10px;
}
.aktivitet_tekst {
  margin: auto;
  padding-right: 10%;
}
.spilimg {
  width: 100%;
  margin: auto;
}
.pil {
  width: 90px;
  transform: scaleX(-1);
  margin-left: 20%;
}
